<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<unicorn>
			<configuration>
				<configuration name="EventTalk" description="EventTalk Serialization" dependencies="Foundation.Serialization" extends="Helix.Project">
					<targetDataStore>

					</targetDataStore>
				</configuration>
			</configuration>
		</unicorn>
	</sitecore>
</configuration>